Repository phuef/Geoinformation-in-Society-22, pull requests merged in 2023-01, with the labels that each got.

#104 103 refactoring menu and data fetching
  frontend/src/components/MainPage.vue
  frontend/src/components/MapView.vue
  frontend/src/components/MenuView.vue
Labels: bug, frontend

#94 Update
  backend/app.py
  backend/data/mussen.geojson
  backend/templates/open_api_doc.html
Labels: backend, sprint 3

#113 Update README.md
  README.md
Labels: documentation, backend, sprint 3

#123 Dokumentation Backend
  backend/app.py
  backend/bands.txt
  backend/templates/open_api_doc.html
  backend/unittest.py
  backend/utils.py
Labels: documentation, backend

#125 Final cython
  backend/__pycache__/unittest.cpython-39.pyc
  backend/__pycache__/utils.cpython-310.pyc
  backend/__pycache__/utils.cpython-39.pyc
  backend/app.py
  backend/build/temp.linux-x86_64-3.10/utils_cy.o
  backend/utils_cy.c
  backend/utils_cy.cpython-310-x86_64-linux-gnu.so
  backend/utils_cy.pyx
  docker-compose.yml
Labels: enhancement, backend

#133 Final backend
  backend/api_graph.graphml
  backend/api_graph.jpg
  backend/app.py
  backend/distance_stack_uml.graphml
  backend/distance_stack_uml.jpg
  backend/templates/open_api_doc.html
  docker-compose.yml
Labels: documentation, backend
